<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.mahua.vod">

    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="cn.mahua.vod.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        android:resizeableActivity="true"
        tools:targetApi="m">
        <activity
            android:name="cn.mahua.vod.ui.browser.BrowserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.collection.CollectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.feedback.FeedbackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.withdraw.GoldWithdrawActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.share.ShareActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name="cn.mahua.vod.ui.account.ChangeNicknameActivity" />
        <activity
            android:name="cn.mahua.vod.ui.account.AccountSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.pay.PayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.home.HomeFristMoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.score.PlayScoreActivity"
            android:label="@string/title_activity_play_score"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.mahua.vod.ui.filtrate.FiltrateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.seek.SeekActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="cn.mahua.vod.ui.screen.ScreenActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cn.mahua.vod.ui.screen.ScreenActivity3"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cn.mahua.vod.ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.task.TaskActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.task.TaskActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.notice.MessageCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.notice.MessageDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.expand.MyExpandActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.expand.ExpandCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.play.PlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.play.NewPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.play.CastScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name="cn.mahua.vod.ui.play.CastScreenActivity2"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />

        <activity
            android:name="cn.mahua.vod.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask" />

        <activity
            android:name="cn.mahua.vod.ui.lanuch.LanuchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.mahua.vod.ui.game.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.mahua.vod.ui.specialtopic.TopicDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity

            android:name="com.tencent.smtt.sdk.VideoActivity"

            android:alwaysRetainTaskState="true"

            android:configChanges="orientation|screenSize|keyboardHidden"

            android:exported="false"

            android:launchMode="singleTask">

            <intent-filter>

                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
        <activity
            android:name="cn.mahua.vod.ui.play.X5WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"></activity>

        <activity
            android:name="cn.mahua.vod.ui.play.X5WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"></activity>
        <activity
            android:name="cn.mahua.vod.ui.start.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>